* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body .area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.qr-container {
  border-radius: 16px;
  padding: 20px;
  background: #9eb7ed7d;
  box-shadow: -20px -20px 60px #9597973e, 20px 20px 60px #424141e0;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}
hr {
  margin: 0 50px;
  width: 50%;
  /* border: 4px solid; */
  margin-bottom: 5px;
  border: none;
}
.qr-container > hr::before {
  content: "";
  width: 20px;
  height: 23px;
  background-color: rgba(31, 31, 32, 0.767);
  display: inline-block;
  animation: move 1.2s ease infinite alternate;
}
.qr-container > hr::after {
  content: "";
  width: 22px;
  height: 23px;
  background-color: rgba(31, 31, 32, 0.767);
  position: absolute;
  animation: move 1.2s ease-in-out infinite alternate;
}
@keyframes move {
  0% {
    box-shadow: 10px 10px 40px -10px #6c1538;

    transform: translateX(135px) rotate(50deg);

    background-color: cyan;
  }
  50% {
    background-color: color-mix(in srgb, #34c9eb 10%, rgb(6, 35, 96));

    transform: translate(-20%, 10%) translateZ(40deg) scale(1.2);
    border-radius: 50%/100%;
  }

  100% {
    box-shadow: 10px 10px 30px -10px #196c15, 10px 20px 40px #281594;
    transform: translateX(-3px) rotate(-50deg);
    background-color: rgb(0, 195, 255);
  }
}

.qr-container > #qr-input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  font-style: 16px;
  padding: 10px;
  border: none;
  transition: all 0.105s ease;
}
#qr-input:hover {
  outline: 3px #34c9eb solid;
  border-radius: 5px;
}
#qr-button {
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 15px 0 15px 0;
  background-color: #263059;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
}
#qr-button::before,
#qr-button::after {
  border: 0 solid;
  transition: all 0.3s;
  content: "";
  height: 0;
  position: absolute;
  width: 24px;
}

#qr-button::before {
  border-top: 3px solid #263059;
  right: 0;
  top: -4px;
}

#qr-button::after {
  border-bottom: 3px solid #263059;
  bottom: -4px;
  left: 0;
}

#qr-button:hover::before,
#qr-button:hover::after {
  width: 90%;
}
@keyframes line {
  0% {
    border: 2px solid blueviolet;
    transform: translate();
  }
  100% {
    border: 4px solid blueviolet;
  }
}
#qr-img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.fortext {
  margin-bottom: 14px;
  font-size: 16px;
  color: red;
  margin-left: 9px;
}

.area {
  background-color: #494fc1;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  
}


.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
